<div class="logo-container">
    <img src="assets/imgs/ui/gea_logo.png" alt="">
</div>

<div class="text-box animated fadeInUp" *ngIf="timer == 3">
    <p>Queremos que sigas aprendiendo y estamos
        cargando tu próximo recurso. Quizá este es el momento de ir por un café.</p>
</div>

<div class="text-box animated fadeInUp" *ngIf="timer == 2">
    <p>Sabemos que estás ansioso por seguir aprendiendo y tu recurso pronto estará listo.
        Quizá este es el momento de tomar una pequeña pausa.</p>
</div>

<div class="text-box animated fadeInUp" *ngIf="timer == 1">
    <p>Tu recurso está cargando y pronto estará disponible. 
        Quizá este es el momento de estirar un segundo las piernas y relajarse.</p>
</div>