:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

.logo-container {
    text-align: center;
    flex: 1;
    img {
        margin: 5vh 0;
    }
}

.text-box {
    background: #b4c7e7;
    color: white;
    text-align: center;
    flex: 2;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 10vw;
    p {
        margin: 25vh 0;
    }
}