<div class="bg-img" style="background-image: url(/assets/imgs/ui/SALFA_UI_INSTRUCCIONES.png),url(/assets/imgs/ui/SALFA_UI_BACK-DER.png);">
    <div class="container">
        <div class="left-area">

        </div>
        <div class="right-area">
            <div *ngIf="instrucciones === 1" class="img-text-container">
                <img src="/assets/imgs/ui/SALFA_UI_TXT_AYUDA.png" class="responsive-img" alt="">
            </div>

            <div *ngIf="instrucciones !== 1" class="text-container">
                <p>En esta actividad aprenderás a identificar delitos descritos en la Ley Nº20.393, los que pueden ser
                    tremendamente perjudiciales para SALFA y todos sus colaboradores.
                    Para lograrlo, te invitamos a que resuelvas 3 escenarios con casos de delitos en instalaciones de
                    SALFA: <br><br>
                    Pon mucha atención a las pistas y resuelve todos los casos.</p>
            </div>
        </div>
    </div>
    <app-footer (action)="onAction($event)"></app-footer>
</div>