.main{
    .img-container{
        max-height: fit-content;
        max-width: fit-content;
        img{
            height: 100%;
            width: 100%;
        }
    }
    display: flex;
    .text-container{
        img{
            @media (max-width: 950px){
                right: 0;
                width: 20rem;
            }
            position: absolute;
            right: 5%;
            top: 10%;
            width: 30rem;
            max-width: fit-content;
        }
    }
}